* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* styles for the header, not text */
header {
  background-color: transparent;
  background-color: #282A37;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  right: 0;
  left: 0;
  position: fixed; /* Fix the header at the top */
}

/* Text direction */
nav li {
  display: inline;
  margin: 10px;
}

/* Text color for header */
nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: text-decoration 0.2s;
}

/* Underline the section when hovering */ 
nav a:hover {
  text-decoration: underline; 
}

#home {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Optional: Center content vertically in the viewport */
}